<div class="card" style="width: 1380px; height: 87px; font-weight: bold; background-color: #FFFFFF;; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
    <img class="logoImage" src="../assets/image/1.png">
    <div class="row">
        <button id="buttonSearch" class="btn btn-outline-success" type="submit">Search</button>
        <div class="Bell"><i class="bi bi-bell"></i></div>
        <div class="Person"><i class="bi bi-person-circle"></i></div>
        <div class="input-icon">
            <div class="InputIcon"><i class="bi bi-search"></i><input class="field" type="text">
            </div>
        </div>
    </div>
</div>