<div class="card" style="width: 1380px; height: 700px; font-weight: bold; margin-top: 10px; background-color: #fff;">
    <button class="btn5" type="button"><i class="bi bi-arrow-left"></i>Go Back</button>
    <div class="soft-circle">
      <div class="inside"></div>
      <div class="key">20%</div>
      <div class="circle">
        <div class="shade left">
          <div class="progressing"></div>
        </div>
        <div class="shade right">
          <div class="progressing"></div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <p class="paragraph">ACCOUNT SELECTION</p> <select id="inputSelect" class="form-select">
          <option selected>Corporate</option>
          <option>...</option>
          <option>...</option>
        </select>
      </div>
    </div>
    <div class="card"
      style="width: 1030px; height: 475px; margin-top: 20px; margin-left: 250px; background-color: #F6F3F3;;">
      <div class='application-section'>
        <h2 class="contant">APPLICATION</h2>
        <div class="display">
          <div class="col-md-6">
            <label class="Cname">Company Name</label>
            <input type="text" id="CompanyName" class="form-control" aria-label="company name">
          </div>
          <div class="col-md-5">
            <label class="Oaddres">Office Address</label>
            <input type="text" id="OfficeAddress" class="form-control" aria-label="office address">
          </div>
          <div class="col-md-1">
            <button id="btn1" class="btn-outline-secondary col-md-1" type="button"><span><i id="Icon1"
                  class="bi bi-plus"></i></span></button>
          </div>
          <div class="col-md-1">
            <button id="btn2" class="btn-outline-secondary col-md-1" type="button"><i id="Icon1"
                class="bi bi-trash3-fill"></i></button>
          </div>
        </div>
        <div class="display1">
          <div class="col-md-3">
            <label class="fname">First Name</label>
            <input type="text" id="fname" class="form-control" aria-label="First name">
          </div>
          <div class="col-md-3">
            <label class="lname">Last Name</label>
            <input type="text" id="lname" class="form-control" aria-label="Last name">
          </div>
          <div class="col-md-3">
            <label class="lname">Phone Number</label>
            <input type="tel" id="lname" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required
              class="form-control" aria-label="Last name">
          </div>
          <div class="col-md-3">
            <label class="lname">Alt. Phone Number</label>
            <input type="tel" id="lname" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required
              class="form-control" aria-label="Last name">
          </div>
        </div>
        <div class="display2">
          <div class="col-md-3">
            <label class="email">Email Address</label>
            <input id="email" type="text" class="form-control" aria-label="Email Address">
          </div>
          <div class="col-md-3">
            <label class="email">User Name</label>
            <input id="email" type="text" class="form-control" aria-label="User Name">
          </div>
          <div class="col-md-3">
            <label class="email">Password</label>
            <input id="email" type="password" class="form-control" aria-label="Password">
          </div>
          <div class="col-md-3">
            <label class="email">Confirm Password</label>
            <input id="email" type="password" class="form-control" aria-label="Confirm Password">
          </div>
        </div>
        <div class="display3">
          <div class="col-md-3">
            <label class="email">How did you hear about us?</label>
            <select id="Question" class="form-select">
              <option selected>--Select--</option>
              <option>...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="email">Select Tariff Type</label>
            <select id="Question" class="form-select">
              <option selected>--Select--</option>
              <option>...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="email">Select Payment Type</label>
            <select id="Question" class="form-select">
              <option selected>--Select--</option>
              <option>...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="email">Upload Logo</label>
            <input type="file" class="form-control" id="FileUpload" aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload">
          </div>
        </div>
        <div class="row">
          <div class="form-switch">
            <p>Terms and Conditions
              Accepted?&nbsp;<input
                class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"><label
                class="form-check-label" for="flexSwitchCheckDefault"></label></p>
          </div>
            <a routerLink="pagedetails" class="col-md-12 text-right"><button class="btn" type="button">Next<i
                  class="bi bi-arrow-right"></i></button></a>
          </div>
      </div>
    </div>
  </div>
